{{!-- pulls out book information from each collection --}}
<div class="h-96">
    <hr><br>
    <h3 class="text-xl text-center w-200 current">{{book.bookTitle}} by {{book.bookAuthor}}</h3><br>
    <div class="flex flex-row">
        <div class="w-1/5 h-64 flex flex-col items-center">
            <a href="{{book.eBookUrl}}"><img class="h-48 border-4 border-indigo-500/100"
                    src="{{book.bookImageUrl}}"></a>
        </div>
        <div class="w-4/5 pl-2 ">
            <p class="h-24 text-wrap text-ellipsis overflow-hidden ...">Description: {{book.bookDescription}}</p>
            <p>ISBN: {{book.bookIsbn}}</p>
            <p>Pages: {{book.bookPages}}</p>
            <p>Published by: {{book.publisherName}} {{#if book.publicationDate}}on {{format_date book.publicationDate}}
            </p>
            {{/if}}
        </div>
    </div>
    <br>

</div>