{{!-- pulls out book information from each collection --}}
<div class="h-96 bg-white outline outline-4 outline-[--amber] m-2 p-2 mb-4 rounded-xl">
    <h3 class="card-title bg-[--night] pt-2 mb-2 rounded-t-xl text-center text-lg text-white font-bold">{{book.bookTitle}} by {{book.bookAuthor}}</h3><br>
    <div class="flex flex-row">
        <div class="w-1/5 h-64 flex flex-col items-center">
            <a href="{{book.eBookUrl}}"><img class="h-48 w-96 border-4 border-indigo-500/100 rounded-xl"
                    src="{{book.bookImageUrl}}"></a>
        </div>
        <div class="w-4/5 pl-2 ">
            <p class="h-24 text-wrap text-ellipsis overflow-hidden ...">Description: {{book.bookDescription}}</p>
            <p>ISBN: {{book.bookIsbn}}</p>
            <p>Pages: {{book.bookPages}}</p>
            <p>Published by: {{book.publisherName}} {{#if book.publicationDate}}on {{format_date book.publicationDate}}</p>
            <button class="bg-lime-800 hover:bg-lime-700 p-2 m-2 rounded-xl text-center text-lg text-white font-bold del" data-collectionId = "{{collectionId}}" data-reviewId = "{{book.reviews.0.reviewId}}">Delete from collection</button>
            {{/if}}
        </div>
    </div>
    <br>

</div>